[user]
	email = varunvasan91@gmail.com
	name = Varun Vasan V
[init]
	defaultBranch = main
[core]
	pager = less -+X -+F
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
